<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>This website was designed to demo the basics of serving a webpage based on the url using just Nodejs.</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-me">Contact me</a></li>
            <li><a href="/fdhgdjg">Page that doesn't exist</a></li>
        </ul>
    </nav>
</body>
</html>